body {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: #fff;
  color: #223;
}

.page {
  display: block;
  margin-left: 40px;
}

div.column {
  display: inline-block;
  vertical-align: top;
}

div.title {
  display: block;
  width: 100%;
  background-color: #f0f0f0;

  font-family: Georgia;

  margin: 0;
  padding: 1em 0 0.5em 0;
}

div.title h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

div.separator {
  font-size: 0pt;
  display: block;
  width: 90%;

  height: 6px;
}

span.separator {
  font-size: 0pt;
  display: inline-block;
  width: 6px;
}

div.input {
  width: 300px;
  height: 300px;
}

textarea.coord {
  width: 300px;
  height: 300px;

  border-width: 0;
  border-radius: 0;

  font-size: 9pt;
  font-family: monospace;
}

input[type=reset], button.draw-btn {
  width: 80px;

  font-size: 12pt;
  height: 3em;

  color: #444;
}
